body {
    background-color: #f4f4f4;
  }
  
  #login {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  #login-box {
    padding: 30px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px #888888;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group .text-info {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 0;
    border: 1px solid #d1d1d1;
    box-shadow: none;
  }
  
  .btn-md {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .btn-outline-info {
    border-color: #17a2b8;
    color: #17a2b8;
  }
  
  .btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
  }
  